

	.login_div1 , .login_div2
	{
		background: white;
		padding: 25px;
		float: none;
		border-radius: 15px;
	}


#player_name1 , #player_name2
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#wordarea
{
background: white;
border-radius: 10px;
border-top: 10px solid #ecd5ff;
padding: 10px;
float: none;
text-align: left;
}


